<!DOCTYPE html>
<html>
<head>
    <title>MediBay | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <% include partials/header %>
    <div class="container">
    <div class="col mb-3">
        <p id="market-head">
            <br>
            <h3>MediBay</h3>
            An online platform to buy and sell unused extra medicines created during TopCoder Hackathon 2019 IIT Mandi.
            <br><br>
            <h4>Problem Solution</h4>
            People often have unused extra medicines at their homes. These medicines often get past their
            expiry dates and are left unused. This results in waste of money and also generates garbage. We intend to solve this solution by building a
            platform to buy and sell medicines. This will reduce wastage and result in people getting
            medicine, often at lower prices.
            <br><br>
            <h4>Technologies Used</h4>
            NodeJS, mongoDB, mongoose, passportJS
        </p>
    </div>
</div>
    <% include partials/footer %>
</body>
</html>